@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.posts-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.posts-container h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.blog-post {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.blog-post h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.blog-post time {
  display: block;
  margin-bottom: 20px;
  color: #666;
}
